# Build settings
bin/
build/
.gradle/
.settings/
.project
.classpath

# IDE-specific
.idea/
.vscode/
.kateproject

#project files and random shit
/.history
/assets/sprites/junkyard
/assets/sprites/blocks/core/kra
/assets/sprites/blocks/environment/kra
/assets/sprites/blocks/environment/ref
/assets/sprites/blocks/production/kra
/assets/sprites/blocks/production/ref
/assets/sprites/blocks/props/kra
/assets/sprites/blocks/props/scrap
/assets/sprites/items/kra
/assets/sprites/units/projfile
# ignore project files
*.kra
# ignore temp/backup files
*.png~