# Build settings
bin/
build/
.gradle/
.settings/
.project
.classpath

# IDE-specific
.idea/
.vscode/
.kateproject

#project files and random shit
/.history
/assets/sprites/junkyard
# ignore project files
*.kra
# ignore temp/backup files
*.png~
*.log
